{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="greenhouse">
      <img src="/images/greenhouse.png">
    </a>
    <h1><font color="#000000" size="22" face="Bahnschrift Light">INVERNADERO AUTOMATIZADO</font></h1>
    <p><font color="#000000" size="4" face="Bahnschrift Light">Monitoreo y control de variables en invernadero automatizado</font></p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-php" class="alert-link">Getting Started with PHP on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3>Estudiantes desarrolladores</h3>
      <ul>
        <li>José Espitia López</li>
        <li>Alexis Roca Molina</li>
        <li>José Castro</li>
        <li>Yerson Ramos</li>
        <li>Andres Salazar</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Monitoreo de variables</h3>
      <br>
      <a type="button" class="btn btn-lg btn-default" href="https://invernaderouno.herokuapp.com/fecha"><span class="glyphicon glyphicon-time"></span> Fecha</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/php-getting-started"><span class="glyphicon glyphicon-list-alt"></span> Estadísticas</a>
      <ul>
        <li>Humedad del aire, humedad del suelo, iluminacion y temperatura.</li>
        </ul>
      </ul>
      
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>

{% endblock %}
